.x-icon {
  color: white;
  margin: 2rem;
  font-size: 3rem;
}

.navbarlink_list {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100vh;
}

.navbarlink_link {
  list-style-type: none;
  padding: 2rem;
}

.navbarlink-container {
  background: rgba(0, 0, 0, 0.898);
  position: absolute;
  width: 100vw;
  height: 111vh;
  transition: 0.7s;
  top: 0;
  left: 0
}

/* Media Query */
@media screen and (min-width: 1024px) {
  .navbarlink-container {
    height: auto;
    width: auto;
    background: none;
    transform: none !important;
    position: static;
  }

  .navbarlink_list {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: auto;
    padding: 0;
  }

  .x-icon_container {
    display: none;
  }
}
